/*Custom CSS*/
@font-face {
    font-family: 'Conv_AbhayaLibre-Regular';
    src: url('fonts/AbhayaLibre-Regular.eot');
    src: local('â˜º'), url('fonts/AbhayaLibre-Regular.woff') format('woff'), url('fonts/AbhayaLibre-Regular.ttf') format('truetype'), url('fonts/AbhayaLibre-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Conv_AbhayaLibre-Bold';
    src: url('fonts/AbhayaLibre-Bold.eot');
    src: local('â˜º'), url('fonts/AbhayaLibre-Bold.woff') format('woff'), url('fonts/AbhayaLibre-Bold.ttf') format('truetype'), url('fonts/AbhayaLibre-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.appraisal-head{
    text-align:center;

}
table.dataTable tbody th, table.dataTable tbody td{
    font-size:12px;
    padding:4px 10px;
}
.btn-navy{
    background:#001f3f;
    border:1px solid #001f3f;
}
.fa-retweet.view:after {content: " Received";}.fa-retweet.view{color:#886aea !important;padding-right:5px;font-size:12px;}
.fa-plus-circle.add-receive:after {content: " Receive";}.fa-plus-circle.add-receive{color:#886aea !important;padding-right:5px;font-size:12px;}
.fa-share-square.view:after {content: " Sent";}.fa-share-square.view{color:#d816c9 !important;padding-right:5px;font-size:12px;}
.fa-plus-circle.add-send:after {content: " Send";}.fa-plus-circle.add-send{color:#d816c9 !important;padding-right:5px;font-size:12px;}
.fa-plus.order:after {content: " Order";}.fa-plus.order{color:#1ba97b !important;padding-right:5px;font-size:12px;}
.fa-file-pdf-o.generate-pdf:after{content: " Generate";}.fa-file-pdf-o.generate-pdf{color:#c50808 !important;padding-right:5px;font-size:12px;}
.fa-file-pdf-o.demo-pdf:after{content: " Preview";}.fa-file-pdf-o.demo-pdf{color:#c50808 !important;padding-right:5px;font-size:12px;}
.fa-upload.latest:after{content: " Upload";}.fa-upload.latest{color:#9709a9 !important;padding-right:5px;font-size:12px;}
.fa-download.latest:after{content: " Download";}.fa-download.latest{color:#12c1a9 !important;padding-right:5px;font-size:12px;}
.fa-archive.archival:after{content: " Add Code";}.fa-archive.archival{color:#ab9603 !important;padding-right:5px;font-size:12px;}
.fa-paperclip.attachments:after{content: " View Files";}.fa-paperclip.attachments{color:#2e08c5 !important;padding-right:5px;font-size:12px;}
.fa-database.archived:after{content: " Archived";}.fa-database.archived{color:#7dc508 !important;padding-right:5px;font-size:12px;}
.fa-toggle-on:after{content: " Activate";}.fa-toggle-on{color:#d26c04 !important;padding-right:5px;font-size:12px;}
.fa-toggle-off:after{content: " Deactivate";}.fa-toggle-off{color:#9c9c9c !important;padding-right:5px;font-size:12px;}
.fa-address-book:after{content: " Tutors";}.fa-address-book{color:#0c82a5 !important;padding-right:5px;font-size:12px;}.pd5{padding-left:5px;padding-right:5px;}
.fa-edit:after {content: " Edit";}.fa-save:after {content: " Save";}.fa-trash:after {content: " Delete";}.fa-trash:after {content: " Delete";}.fa-pencil:after{content: " Change";}.fa-trash{color:#F00 !important;padding-right:5px;font-size:12px;}.fa-edit{color:#009a46 !important;padding-right:5px;font-size:12px;}.fa-save{color:#009a46 !important;padding-right:5px;font-size:12px;}.fa-pencil{color:rgba(219, 83, 15, 0.77) !important;padding-right:5px;font-size:12px;}.fa-files-o:after {content: " Copy";}.fa-files-o{color:#11c1f3 !important;padding-right:5px;font-size:16px !important;}.fa-plus:after {content: " Add";}.fa-plus{padding-right:5px;font-size:12px;}.fa-minus:after {content: " Delete";}.fa-minus{padding-left:5px;font-size:12px;color:red !important;}.fa-eye:after{content: " View";}.fa-eye{color:#387ef5 !important;padding-right:5px;font-size:13px;}.fa-print:after{content: " Print";}.fa-print{color:#bf6709 !important;padding-right:5px;font-size:12px;}.fa-plus-circle:after{content: " Remarks";}.fa-plus-circle{color:#bf6709 !important;padding-right:5px;font-size:12px;}.fa-users:after{content: " Students";}.fa-users{color: #00381c !important;padding-right:5px;font-size:12px;}.fa-key:after {content: " Change Password";}.fa-key{color: #00381c !important;padding-right:5px;font-size:12px;}.fa-pause:after{content: " Suspend";}.fa-pause{color:#ef9f0c !important;padding-right:5px;font-size:13px;}.fa-check-square-o:after{content: " Activate";}.fa-check-square-o{color:#9f19e9 !important;padding-right:5px;font-size:13px;}
.fa-envelope.class_scheduling:after{content: " Send Message";}.fa-envelope.class_scheduling{color:#9709a9 !important;padding-right:5px;font-size:12px;}
.fa-plus-square.admit-student:after{content: " Admit";}.fa-plus-square.admit-student{color:#3d9970 !important;padding-right:5px;font-size:13px;}
.fa-check-square-o.admit-student:after{content: " Re-admit";}.fa-check-square-o.admit-student{color:#9f19e9 !important;padding-right:5px;font-size:13px;}
.glyphicon{right: 7px;}
.login-page{
    background: url('../images/login-bg.jpg');
    background-size: cover; 
}
.login-wrapper{
    width:100%;
}
 .login-box{
 
 width:500px;
} 
.login-logo .card h3, .login-box .card p, .appraisal-head, .card-head span{
    font-family: Conv_AbhayaLibre-Regular;
}
.login-box .card{
    width:400px;
    margin:auto;
    text-align:center;
    margin-top: 50px;
    padding:20px;
}
.form-radio{
    padding-left: 0px;
}
.radio-label{
    padding-right: 10px !important;
    display: inline;
}
.mr5{
    margin-right: 5px;
}
.mlr15{
    margin-left: 15px;
    margin-right: 15px;
}
.mlr30{
    margin-left: 30px;
    margin-right: 30px;
}
.mlr3{
    margin-left: 1px;
    margin-right: 1px;
}
footer {
  position: absolute;
  bottom: -50px;
  height: 50px;
  width: 100%;
}
/* Select 2 */
.select2-container .select2-selection--single{
    height:calc(2.25rem + 2px) !important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid #ccc;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0a7392;
    border: 1px solid #0a7392;
}
.list-course-img{
    width:70px;
    height:70px;
}
.pt-15{
    padding-top: 15px;
}
.left-pane{
    border-right:dashed 1px #ddd;
    padding-right:20px;
}
.view-course{
    font-size: 18px;
    margin-bottom: 0px;
}
.ml10{
    margin-left: 10px;
}
.pb10{
    padding-bottom:10px;
}
.pb20{
    padding-bottom:20px;
}
.ts-profpic{
    width:70px;
    height:70px;
    float:left;
    padding-right:10px;
}
.tut-stud-sec{
    min-height: 120px;
    max-height: 170px;
    overflow-Y: auto;
}
.view-stud-sec{
    min-height: 120px;
    max-height: 340px;
    overflow-Y: auto;
}
.stud-sec-height{
    min-height: 120px;
    max-height: 300px;
    overflow-Y: auto;
}
.tut-name{
    font-size:16px;
    line-height:30px;
}
.tut-email{
    margin-top: -19px;
    font-size: 16px;
}
.mt-15{
    margin-top: -15px;
}
.mt-25{
    margin-top: -25px;
}
.mt-20{
    margin-top: -20px;
}
.add-icon-img{
    height:25px;
    margin-top:5px;
}
.remove-icon-img{
    margin-left: -1px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
.remove-icon-img-dynamic{
    margin-left: -8px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
.mt8{
    margin-top: 8px;
}
.mt30{
    margin-top: 30px;
}
.field_wrapper1{
    width: 100%;
}
.scount{
    border: solid 1px #d88034;
    padding: 1px 5px;
    font-size: 15px;
    background-color: #d88034;
    color: #fff;
}
.tutcount{
    border: solid 1px #28a745;
    padding: 1px 5px;
    font-size: 15px;
    background-color: #28a745;
    color: #fff;
}
.fullwidth{
    max-width: 100%;
}
.black-text{
    color: #000;
}
a.black-text:hover{
    color: #000;
}
.tut-contact i{
    font-size: 21px;
    color: #d88034;
    padding:10px;
    margin-right: 5px;
}
p.tut-contact {
    font-size: 18px;
    line-height: 25px;
}
i.fts29{
    font-size: 29px;
}
i.fts15{
    font-size: 15px;
    padding-right: 7px;
}
i.fts17{
    font-size: 17px;
    padding-right: 3px;
}
i.ftdemo{
    font-size: 15px;
    padding-right: 4px;
}
ul.courses-assigned{
    list-style: none;
    padding: 7px;
    font-size: 16px;
}
ul.courses-assigned li i{
    color: #af751d;
    padding: 5px;
}
.mt25{
    margin-top: 25px;
}
.text-red{
    color: red;
    font-size: 13px;
}
.regbtn{
    float:right;
    margin-right:10px;
}
ul.view-student-details-accounts{
    list-style: none;
    padding: 7px;
    font-size: 16px;
}
ul.view-student-details-accounts li i{
    color: #af751d;
    padding: 5px;
    font-size: 11px;
    font-weight: 600;
}
table thead tr th.wdth30{
    width: 30%;
}
.all-assigned-courses{
    min-height: 138px;
    max-height: 150px;
    overflow-Y: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.ml15{
    margin-left: 15px;
}
.aligncenter{
    text-align: center;
}
.add-new-btns{
    margin:auto;
    padding-bottom: 10px;
}
.add-new-btns a.releasefont{
    font-size: 13px !important;
    width:162px;
}
.date-modal {
    z-index: 2051 !important;
}
.p10{
    padding-left: 10%;
    padding-right: 10%;
}
.dispinline{
    display: inline !important;
}
.mainmenu a{
    color: #fff !important;
    text-transform: uppercase;
    font-size: 14px;
}
ul.mainmenu li.active{
    background-color: #fff;
}
ul.mainmenu li.active a{
    color: #000 !important;
    font-weight: 500;
}
a.ptb2{
    padding-top: 2px !important;
    padding-bottom:2px !important;
}
.navblack{
    background-color: #000 !important;
    border: #000 !important;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
a.navbar-title, a.navbar-title:hover, a.navbar-title:active, a.navbar-title:focus{
    color: #908989 !important;
    text-decoration: none;
}
.floatright{
    float:right;
}
.inner-pages{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}
.footer {
    background-color: #000;
    left:0;
    right:0;
    margin:auto;
    position:relative;
    bottom:0;
    width:100%;
    height:auto;
}
.wrap-height{
    min-height:600px;
    padding-left: 50px;
    padding-right: 50px;
}
.wrap-footer{
    padding-left: 50px;
    padding-right: 50px;
}
ul.footer-link {
    list-style: none;
    padding-left: 50px;
    font-size: 13px;
    line-height:25px;
}
.mt15{
    margin-top: 15px;
}
ul.footer-link li a{
    color: #908989;
    text-decoration:none;
}
.hr-line{
   border-color: #2522227d;
}
.followus{
    padding-left: 50px;
    width:100%;
    margin-top:-10px;
    margin-bottom:-20px;
    color:#908989;
}
ul.social-icons{
    list-style: none;
    display:inline-flex;
}
ul.social-icons li a{
    color: #fff;
    padding:10px;
} 
.navbar-default .mainmenu>a.active{
    background-color: #ddd;
    color: #000 !important;
    font-weight: 700 !important;
}
.login-form {
    /* border: 3px solid #f1f1f1; */
    /* background-color: #f1f1f1; */
    width: 100%;
    padding: 40px;
    height:371px;
}
.login-form-div{
    background: url('../images/login-side-trans.jpg');
    background-size: cover; 
}
.no-padding{
    padding: 0px;
}
.mb20{
    margin-bottom: 10px;
}
h5.register_now{
    color: #b51725;
    font-weight: bold;
    font-size: 14px;
    padding-top: 12px;
}
h5.register_now a{
    color: #b51725;
    text-decoration: none;
}
.sidenav {
    width: 100%;
    background-color: #f2aa4cff;
    overflow-x: hidden;
    padding-top: 20px;
    min-height:600px;
    height: auto;
    margin-left: -15px;
}
.pt4{
    padding-top: 4px;
} 
.pdb40{
    padding-bottom:40px;
}
.sidenav a {
    padding: 10px 0px 10px 30px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
    display: block;
    text-transform: uppercase;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.img-dashboard{
    padding: 5px 30px;
}
.side-href i{
    font-size:18px;
    padding-right: 5px;
    width: 22px;
}
h2.featured-title{
    font-size:24px;
    font-weight:bold;
    color: #78b9f1;
}
h2.reg-title{
    font-size:24px;
    font-weight:bold;
    color: #000;
}
h5.featured-subtitle{
    color:#000;
    font-size:16px;
    font-weight:bold;
    padding-left: 15px;
}
.widthfull{
    width: 100% !important;
}
.caption{
    background: #fff;
    width: 100%;
    height: 45px;
}
.home-cat-caption{
    background: #fff;
    width: 250px;
    height: 195px;
    text-align: center;
}
.caption-tutor{
    background: #fff;
    width: 100%;
    height: 125px;
}
.caption h5{
    margin-top:0px;
    text-align: center;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.caption-tutor h5{
    margin-top:0px;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding-left:10px;
}
h5.tutor-degree{
    margin-top: -16px;
    font-size: 11px;
    text-align: left;
    padding-left: 10px;
    font-weight: 400;
    text-transform: none;
}
.frontbody{
    font-family: 'Red Rose', cursive;
    background-color: #f5f2f2;
}
.pdlr15{
    padding-left: 15px;
    padding-right: 15px;
}
.reghead{
    background-color: #ddd;
}
.mt50{
    margin-top: 50px;
}
a.linkgreen, a.linkgreen:active, a.linkgreen:hover, a.linkgreen:focus{
    text-decoration: none;
    color: #4aaf4a;
    font-weight: 600;
}
a.linkgreen i, a.linkdemo i{
    font-size: 13px;
}
a.linkdemo, a.linkdemo:active, a.linkdemo:hover, a.linkdemo:focus{
    text-decoration: none;
    color: #a15812;
    font-weight: 600;
}
a.course-view-link, a.course-view-link:active, a.course-view-link:hover, a.course-view-link:focus{
    text-decoration: none;
    color: #000;
}
.ashbg{
    background-color:#ddd;
    min-height:600px;
}
.viewcourse-header{
    background-color: #1eeda0a6;
    height: 250px;
    border: solid 1px #1eeda0a6;
    width:100%;
}
.viewcourse-feeheader{
    background-color: #0c7c14a6;
    height: auto;
    border: solid 1px #0c7c14a6;
    width:100%;
}
.pdlr25{
    padding-left:25px;
    padding-right: 25px;
}
.viewcourse-imgthumb{
    width: 300px;
    height: 200px;
    padding: 7px;
}
h2.viewcourse-title{
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 40px;
}
.ft25{
    font-size: 25px;
}
.ft12{
    font-size:12px;
}
.coursefee{
    text-align:center;
    color:#fff;
    font-size: 45px;
}
h2.feestructure{
    font-size: 19px;
    color: #fff;
}
.fee-part{
    color: #fff;
    font-size: 16px;
}
.viewcourse-body{
    background-color: #fff;
    padding-top:30px;
}
.align-center{
    text-align: center;
}
.align-center a{
    color:green;
    font-size:20px;
}
.mt10{
    margin-top: 10px;
}
.whitetext{
    color: #fff;
}
.view-tutor-degrees{
    text-decoration: underline;
    font-size: 24px;
}
.viewtut-degcourseicon{
    color: #6b3f43;
    padding-right: 7px;
}
.home-cat{
    width:250px;
    height:150px;
}
.ptb30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.home-cat-caption h5{
    padding:10px;
    font-size: 20px;
}
.home-video{
    width:100%;
    height:400px;
}
.ptb10{
    padding-top:10px;
    padding-bottom:10px;
}
.demo-videos-main{
    float:right;
    padding-right:9%;
    margin-top: 30px;
    margin-bottom: 30px;
    width:90%;
    height:380px;
}
.ml-75{
    margin-left: -75px;
}
h2.demo-head{
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
}
.sub-demo{
    width:150px;
    height:112px;
}
.sub-demos-align{
    text-align:center;
    display:flex;
    margin-left:-50px;
}
@media (max-width: 576px) {
    .viewcourse-header{
        height: 425px !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    .home-cat{
        width:200px;
        height:150px;
    }
    .home-cat-caption{
        background: #fff;
        width: 200px;
        height: 195px;
        text-align:center;
    }
}
.sidenav a.active{
    color:#fff;
}
.dash-course-title{
    font-size: 22px !important;
}
.info-box-text{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}
span.info-box-icon i{
    color: #fff;
}
.card-secondary .card-header{
    background-color: #6c757d59 !important;
    border-bottom: solid 1px #6c757d59 !important;
}
.card-secondary .card-title{
    color: #000;
    text-transform: uppercase;
    
}
.card-no-bg .card-header{
    background-color: #fff !important;
}
.modal-link{
    cursor: pointer;
}
.reply-modal .modal-header{
	background: #fec722 !important;
}
.reply-modal .modal-header h5.modal-title{
	font-size: 20px;
    display: inline;
}
.reply-modal .modal-body{
	min-height: 300px !important;
}
.reply-modal{
    max-width:750px;
}